 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .top {     
        height:60px;
        padding:0; margin:0;
        background:rgb(206, 206, 239);
    }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px; color:black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(90vh - 40px);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-left {
    display: flex;
    align-items: center;
  }
  .header .menu-right {
    display: flex;
    align-items: center;
  }
  .header .menu-item {
    margin-right: 20px;
    color: black;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  input[type="text"], input[type="date"], input[type="email"], input[type='password'], select, textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;;
    border-radius: 4px;
    box-sizing: border-box; color:black;
    background-color: transparent;
  }
  input[type="submit"] {
    background-color: #4557a5;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
    display: block;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
  }
  .notifications {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
  }
  .notifications-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
  }
  .notifications-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .notifications-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .notifications-dropdown li:last-child {
    border-bottom: none;
  }
  .notifications:hover .notifications-dropdown {
    display: block;
  }
  .left-form {
    float: left;
    width: 50%;
    padding-right: 10px;
  }
  
  .right-form {
    float: left;
    width: 50%;
    padding-left: 10px;
  }
